body {
    background-color: lightgray;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.pad-0-10{
    padding : 0 10%;
}

.pad-25-low-bottom{
    padding : 15px 25px 10px;
}

.marg-0-10{
    margin : 0 10%;
}

.marg-0{
    margin : 0;
}

.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.border{
    border:1px solid black;
}

.radius-25{
    border-radius: 25px;
}

.radius-25-top{
    border-radius: 25px 25px 0 0;
}

.relative{
    position:relative;
}

.on-top-center{
    position: absolute;
    bottom: 100%;
    align-self: center;
}

.bg-color-blue{
    background-color: lightblue;
}

.bg-color-grey{
    background-color: lightgray;
}

.bg-color-red{
    background-color: rgb(255, 116, 116);
}

.end{
    justify-content: end;
}

.align-center{
    align-items: center;
}

button{
    padding: 20px;
    border-radius: 25px;
    margin : 20px;
}